.idea*
.github/*
.github/ISSUE_TEMPLATE/
.github/pull_request_template.md
__pycache__/
*.nii.gz
*.nii
*.bval
*.bvec
*.npy
*.dcm
*.npy
*.mat
*.raw
bvals.txt
download
.Introduction_to_TF24_IVIM-MRI_CodeCollection_github_and_IVIM_Analysis_using_Python.ipynb
.ipynb_checkpoints
md5sums.txt
*.gz
*.zip
*.tmp
*.asv
src/original/ASD_MemorialSloanKettering/MRI-QAMPER_IVIM/test_data
src/original/ASD_MemorialSloanKettering/MRI-QAMPER_IVIM/output_files
tests/IVIMmodels/unit_tests/*.log
junit/*
ivim_simulation.bval
ivim_simulation.bvec
*.pt
*map.png
*map_log.png
test_output_SNR100.csv
# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pyc
phantoms/MR_XCAT_qMRI/*.json
phantoms/MR_XCAT_qMRI/*.txt
tests/IVIMmodels/unit_tests/models
models
test_output_SNR100.csv
