.idea*
.github/*
.github/ISSUE_TEMPLATE/
.github/pull_request_template.md
__pycache__/
*.nii.gz
*.nii
*.dcm
*.mat
*.raw
bvals.txt
# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pyc
local.env
