numpy
super-ivim-dc>1.0.0
nibabel
scipy
torchio
torch
joblib
dipy
matplotlib
scienceplots
cvxpy
zenodo-get
pytest
tqdm
pandas
sphinx
sphinx_rtd_theme
pytest-json-report
statsmodels
ivimnet
nlopt
ipykernel
pylint
schemdraw